.post {
    display: table-cell;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    background-color: #f7efed;
  }

  .post .card .photo {
    height: 340px;
    width: 339px;
    margin-top: 0;
    border-radius: 9px 9px 9px 9px;
    border: 2px solid rgb(175, 166, 166);
  }

.card {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px;
    height: 340px;
    width: 339px;
    margin: 10px 15px;
    z-index: 1;
  }

  .shadow {
    position: absolute;
    margin-top: 80px;
    height: 180px;
    width: 338px;
    background: linear-gradient(top, transparent, #000);
    border-radius: 0 0 10px 10px;
    opacity: 0;
    transition: 0.7s;
    z-index: 2;
  }

  .post .user {
    margin-top: 8px;
    margin-left: 15px;
}

.user {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.user .ava {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    object-fit: cover;
    border: 1px solid rgb(29, 28, 28);
}

.min {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 250px;
    margin-right: 40px;
    opacity: 0;
    transition: 0.7s;
    z-index: 3;
}

.min p {
    margin-bottom: 8px;
    color: white;
}

.min .ava {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    object-fit: cover;
}

.min .Profile {
    width: 50px;
    margin-left: 35px;
}

.min .authorName {
    font-size: 15px;
    font-weight: 600;
    width: 176px;
}

.min .authorName p {
   float: left;
   margin-left: 10px;
}

.min .like {
    width: 80px;
}

.card:hover .min {
    opacity: 1;
    transition: 0.7s;
}

.card:hover .shadow {
    opacity: .42;
    transition: 0.7s;
}

.card .user_m {
    display: none;
}

@media screen and (max-width: 1030px) { 
    .post {
        display: table-cell;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 10px;
        background-color: #f7efed;
      }
    
      .post .card .photo {
        height: 290px;
        width: 280px;
        margin-top: 0;
        border-radius: 9px 9px 0px 0px;
        border-left: 2px solid rgb(175, 166, 166);
        border-right: 2px solid rgb(175, 166, 166);
      }
    
    .card {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 10px 10px 10px 10px;
        height: 290px;
        width: 280px;
        margin: 10px 5px;
        border: 2px solid rgb(175, 166, 166);
        z-index: 1;
      }
    
      .shadow {
        display: block;
        width: 200px;
      }
    
      .post .user {
        margin-top: 8px;
        margin-left: 15px;
    }
    
    .user_m .ava {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        object-fit: cover;
        border: 1px solid rgb(29, 28, 28);
        margin-top: 8px;
    }
    
    .min {
        display: none;
        justify-content: flex-start;
        align-items: center;
        margin-top: 250px;
        margin-right: 40px;
        opacity: 0;
        transition: 0.7s;
        z-index: 3;
        width: 280px;
    }
    
    .user_m p {
        color: black;
    }
    
    .user_m .ava {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        object-fit: cover;
    }
    
    .user_m .Profile {
        width: 50px;
        margin-left: 10px;
    }
    
    .user_m .authorName {
        font-size: 15px;
        font-weight: 600;
        width: 166px;
    }

    .user_m .authorName p {
        float: left;
        margin-left: 10px
    }
    
    .user_m .like {
        margin-top: 11px;
        width: 60px;
    }
    
    .card:hover .min {
        opacity: 1;
        transition: 0.7s;
    }

    .card .user_m {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 80px;
        width: 279px;
        border-radius: 0px 0px 10px 10px;
    }
}