.post {
    margin-bottom: 70px;
    width: 650px;
    min-height: 650px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 30, 30, 0.3);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.post .user {
    margin-top: 8px;
    margin-left: 15px;
}

.post > img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.post .title {
    padding: 10px 20px;
    
}

.post .title p {
    font-weight: 600;
    font-size: 20px;
    text-align: left;
}

.post .deskription {
    padding: 0px 20px;
    margin: 0px 0 20px 0;
}

.post .deskription p {
    text-align: left;
}

.user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: #000;
    
}

.user img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    object-fit: cover;
    border: 1px solid rgb(29, 28, 28);
}

.min {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1px;
}

.min p {
    margin-bottom: 8px;
    color: black;
}

.min img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}

.min div {
    margin-left: 15px;
    font-size: 15px;
    font-weight: 600;
}